
/* 	Graphs */
#wrap {
    width:900px;
    margin:auto;
    overflow:hidden;

}
#Div { 
  float:left;
    width:426px;
    margin:16px 0 16px 16px;
}
#Div2 {
    float:left;
    width:426px;
      margin:16px 0 16px 16px;
    
}
#Div3 {
    float:left;
    width:426px;
    margin:16px 0 16px 16px;
  
}
#Div4 {
    float:left;
    width:426px;
    margin:16px 0 16px 16px;


}