<html>
<!-- Please specify which browser you used in a comment at the start of your HTML file: Chrome -->
<head>
<link rel="stylesheet" type="text/css" href="buttons.css">
<title>Credit Screening Application</title>

</head>
<body>

<br>
<p>
<h1 align= "center">Credit Screening Application </h1> 
 
</p>

{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1>Credit Screening Application</h1>
    <p>
	
<HR COLOR="red" WIDTH="100%">
<HR COLOR="yellow" WIDTH="100%">
<HR COLOR="blue" WIDTH="100%">
<HR COLOR="purple" WIDTH="100%">
<HR COLOR="green" WIDTH="100%">
	
	
	</p>
	
	
	
	<div id ="divin">
<table width="100%"   align="center">
<tr>
<td align="center"><button class ="button" id="getbutton" onclick="return check();">		 </button></td>
<td align="center"><button class ="button" id="getbutton" onclick="return check();">		 </button></td>
<td align="center"><button class ="button" id="credbutton" onClick="window.location='loanapp';">Credit Analyser</button></td>
<td align="center"><button class ="button" id="dashbutton" onClick="window.location='dashboard';">Dashboard</button></td>


<td align="center"><button class ="button" id="getbutton" onclick="return check();">		 </button></td>
<td align="center"><button class ="button" id="getbutton" onclick="return check();">		 </button></td>

</tr>
</table>
<p>
</div>

<HR COLOR="red" WIDTH="100%">
<HR COLOR="yellow" WIDTH="100%">
<HR COLOR="blue" WIDTH="100%">
<HR COLOR="purple" WIDTH="100%">
<HR COLOR="green" WIDTH="100%">

  </div>
{% endblock %}




<br/>
<HR COLOR="red" WIDTH="100%">
<HR COLOR="yellow" WIDTH="100%">
<HR COLOR="blue" WIDTH="100%">
<HR COLOR="purple" WIDTH="100%">
<HR COLOR="green" WIDTH="100%">

<div id ="divin">
<table width="100%"   align="center">
<tr>
<td align="center"><button class ="button" id="getbutton" onclick="return check();">		 </button></td>
<td align="center"><button class ="button" id="getbutton" onclick="return check();">		 </button></td>
<td align="center"><button class ="button" id="credbutton" onClick="window.location='loanapp';">Credit Analyser</button></td>
<td align="center"><button class ="button" id="dashbutton" onClick="window.location='dashboard';">Dashboard</button></td>


<td align="center"><button class ="button" id="getbutton" onclick="return check();">		 </button></td>
<td align="center"><button class ="button" id="getbutton" onclick="return check();">		 </button></td>

</tr>
</table>
<p>
</div>

<HR COLOR="red" WIDTH="100%">
<HR COLOR="yellow" WIDTH="100%">
<HR COLOR="blue" WIDTH="100%">
<HR COLOR="purple" WIDTH="100%">
<HR COLOR="green" WIDTH="100%">



</body>
</html>